html,
body,
#app {
	height: 100%;
}

// 版心
.w {
  max-width: 1200px;
  min-width: 1000px;
  margin: auto;
}

// 链接
a:link {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  text-decoration: none;
}
a:visited {
  color: #333;
}
a:hover {
  color: tomato;
}
